<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
    こちらは刃物の研ぎを専門で請け負う「研ぎ陣」です。<br>
    家庭用の物からプロが使う物まで幅広く承っております。<br>
    曜日ごとにお近くのスーパーに出張研ぎをご自宅からでも事前にご予約いただけます。<br>
    </div>
    <div class="col"></div>
  </div>