<div class="container">
  <div class="starter-template">
    <p class="h1 text-center">
      研ぎ陣へようこそ
    </p>
    <p class="lead text-center">
      当店は刃物研ぎ専門業者です<br>
      家庭用からプロ用の物まで承っております<br>
      曜日ごとにお近くのスーパーに出張サービスも事前にご予約ができます<br>
      <p class="text-center text-danger">
        ※ご予約には会員登録が必要になります
      </p>
   </p>
   <br>
   <br>
   <br>
    </div>
    <!--予約画面へのリンク-->
    <p class="h1 text-center">
    <span class="border border-success rounded ">
     <%= link_to "予約画面へ",new_public_request_path%>
    </span>
    </p>
    <br>
    <br>
    <br>
    <!--出張先の一覧-->
    <table class="table table-dark">
      <p class="h2 text-center">出張先一覧</p>
      <p class="text-center text-danger">
        ※当日の状況によって営業時間は前後する可能性がございます
      </p>
      <br>
    <thead>
      <tr>
        <th scope="col">店名</th>
        <th scope="col">住所</th>
        <th scope="col">出張日</th>
        <th scope="col">受付時間</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">木崎ぐるめランド</th>
        <td>さいたま市浦和区領家4-24-16</td>
        <td>毎週　土・日</td>
        <td>9:00~15:30</td>
      </tr>
      <tr>
        <th scope="row">スーパーバリュー川口前川店</th>
        <td>川口市前川3-20-17</td>
        <td>毎月　第１・第３　月曜日</td>
        <td>10:00~15:00</td>
      </tr>
      <tr>
        <th scope="row">スーパーバリュー川口伊刈店</th>
        <td>川口市伊刈950-1</td>
        <td>毎月　第１　火曜日</td>
        <td>10:00~14:30</td>
      </tr>
      <tr>
        <th scope="row">JA安行直売所</th>
        <td>川口市安行領家1100</td>
        <td>毎月　第２・第４　月曜日</td>
        <td>10:00~12:30</td>
      </tr>
    </tbody>
  </table>
</div>