<div class="container">
  <div class="starter-template">
    <p class="h1 text-center">
      ご予約を承りました！
    </p>
    <br>
    <p class="lead text-center">
      ご予約ありがとうございます<br>
      予約の確認は<%= link_to "履歴",npublic_request_path%>から確認できます<br>
      <p class="text-center text-danger">
      <%= link_to "トップページへ", public_root_path%>
      </p>
   </p>
  </div>