<div class="container">
  <div class="starter-template">
    <br>
    <br>
    <br>
    <p class="h1 text-center">
      ご予約を承りました！
    </p>
    <br>
    <br>
    <br>
    <br>
    <p class="lead text-center">
      ご予約ありがとうございます<br>
      予約は<%#= link_to "履歴",public_request_path%>から確認できます<br>
      <p class="text-center text-danger">
      <%= link_to "トップページへ",root_path%>
      </p>
   </p>
   <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>